/* @import url('https:fonts.googleapis.com/css2?family=Borel&display=swap'); */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  /* background: #0f0f10; */
  font-family: "Poppins", sans-serif;
  /* color: #ffffff; */
}
body {
  /* background-color: rgb(42, 40, 40);
    background: #0f0f10;
     */
  background: #0f0f10;
}
nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #302b2b;
  width: fit-content;
}
nav .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* padding: 10px; */
  margin-top: 2vh;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  margin-left: 25vw;
  /* margin-top: 1vh; */
}
nav ul li {
  /* font-family: 'Borel', cursive; */
  list-style: none;
  font-size: 20px;
  /* gap: 2vw; */
}
nav ul li a {
  /* color: white; */
  cursor: pointer;
  /* font-family: 'Borel', cursive; */
  text-decoration: none;
  /* background: #0f0f10; */
  color: #ffffff;
}
#btn button {
  border-radius: 50px;
  font-size: 20px;
  background-color: #7e7e8b;
  width: 10vw;
  /* margin-top: 5vh; */
  cursor: pointer;
  margin-left: 3.5vw;
}
nav img {
  margin-left: 15vw;
  margin-top: 5vh;
  width: 4vw;
  height: 6vh;
  /* display: block; */
}
@media (max-width: 637px) {
  nav ul li a {
    font-size: 10px;
  }
  nav ul {
    gap: 1.5vw;
  }
  #btn button {
    margin-left: 1.5vw;
    font-size: 10px;
  }
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
#btn button:hover {
  font-size: 25px;
  color: rgb(0, 0, 0);
}
.main {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-top: 13vh;
}
main .mainimg {
  margin-left: 20vw;
  margin-top: 0vh;
  height: 76vh;
  position: relative;
  top: -100px;
}
.mainsec1 {
  margin-left: 10vw;
  margin-right: 3vw;
  /* padding: 10vh;
     */
}
.mainimgsec1 {
  width: 20vw;
}
.mainsec1 h1 {
  color: #fffcfc;
  /* width: 35px; */
  font-size: 55px;
}
.mainsec1 h4 {
  color: #fffcfc;
  /* width: 35px; */
  font-size: 35px;
}
.mainsec1 p {
  color: #fffcfc;
  /* width: 35px; */
  font-size: 25px;
  font-weight: bolder;
  line-height: 8vh;
  margin-top: 2vh;
  word-spacing: 2px;
}
.shopiingclass button {
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #7e7e8b;
  width: 30vw;
  /* padding: 10px; */
  display: flex;
  gap: 1vw;
  height: 8vh;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 6vw;
  margin-top: 2vh;
  font-weight: bolder;
}
.shopiingclass button:hover {
  color: #ffffff;
  font-size: 30px;
  width: 40vw;
}
.socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 50px; */
  position: relative;
  margin-top: 1vh;
  gap: 3vw;
  /* margin-right: 90vw; */
  /* margin-bottom: 20px; */
}
.socialmedia img {
  width: 8vw;
}
@media (max-width: 1006px) {
  .shopiingclass button {
    font-size: 8px;
    width: fit-content;
    margin-top: 1vh;
  }
}
@media (max-width: 630px) {
  main .mainimg {
    margin-left: 14vw;
    width: 20vw;
  }
  .mainsec1 p {
    font-size: 15px;
    line-height: 6vh;
  }
}
@media (max-width: 515px) {
  .socialmedia img {
    width: 6vw;
    height: 1vh;
  }
}
#speciation {
  margin-top: 1vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.specsss {
  margin-top: 10vh;
  margin-left: 40vw;
}
.specitems1 {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  color: #ffffff;
  gap: 2vh;
  margin-left: 25vw;
}
.specitems2 {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  color: #ffffff;
  gap: 2vh;
  margin-left: 20vw;
}
.specitems3 {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  color: #ffffff;
  gap: 2vh;
  margin-left: 20vw;
}
.specitems4 {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  color: #ffffff;
  gap: 2vh;
  margin-left: 25vw;
}
.specitems1 img {
  width: 20px;
  height: 20px;
  margin-left: 3vw;
  justify-self: flex-start;
}
.specitems2 img {
  width: 20px;
  height: 20px;
  margin-left: 3vw;
  justify-self: flex-start;
}
.specitems3 img {
  width: 20px;
  height: 20px;
  margin-left: 3vw;
  justify-self: flex-start;
}
.specitems4 img {
  width: 20px;
  height: 20px;
  margin-left: 3vw;
  justify-self: flex-start;
}
.specsdetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 20vw;
  gap: 1vw;
  /* margin-left: 0.5vw; */
}
.specsimg {
  margin-left: 5vw;
  width: 30vw;
  height: 50vh;
}
.specitems {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  gap: 6vh;
  /* width: 20vw; */
  /* height: 20vh; */
}
@media (max-width: 533px) {
  .specitems1,
  .specitems4 {
    /* font-size: 10px;
         */
    margin-left: 15vw;
  }
  .specitems2,
  .specitems3 {
    margin-left: 12vw;
  }
  .specsimg {
    margin-left: 2vw;
    width: 10vw;
    height: 30vh;
    /* width: 200px; */
    /* height: 200px; */
  }
  .specitems h2 {
    font-size: 12px;
  }
  .specitems h3 {
    font-size: 8px;
  }

  .specsss {
    margin-top: 6vh;
    margin-left: 40vw;
    width: 8vw;
    height: 3vh;
  }
}

.casedet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
.casedetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.casedetails p {
  color: #ffffff;
  word-wrap: normal;
  width: 40vw;
  font-size: 25px;
  margin-left: 10vw;
  font-family: "Poppins", sans-serif;
}
.casesecimg {
  margin-left: 40vw;
  margin-top: 8vh;
}
.casedetails button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  width: fit-content;
  height: fit-content;
  background-color: #858588;
  margin-top: 5vh;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  cursor: pointer;
}
.info {
  color: #ffffff;
  font-size: 10px;
}
@media (max-width: 832px) {
  .casedetails p {
    font-size: 15px;
    margin-left: 3vw;
    margin-right: 2vw;
  }
  .any {
    width: 15vw;
    height: 30vh;
  }
  .info {
    font-size: 5px;
  }
}
.belsec {
  display: flex;
  background-color: #81818a;
  color: #fffcfc;
  width: 50vw;
  padding: 10px;
  justify-content: center;
  margin-left: 25vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* align-items: center; */
  border-radius: 10px;
}
.belsecs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.belsec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3vh;
}
.belsecsbtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5vh;
  background-color: #302b2b;
  width: fit-content;
  border-radius: 10px;
  gap: 2vw;
  height: fit-content;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
}
.belsecsbtn button:hover {
  width: 12vw;
  height: 7vh;
  font-size: 18px;
}
@media (max-width: 997px) {
  .belsec {
    width: fit-content;
    margin: auto;
  }
  .belsecs h2 {
    font-size: 15px;
  }
  .belsecs h5 {
    font-size: 8px;
  }
  .belsec1img {
    width: 18vw;
    height: 15vh;
  }
}

.primage img {
  margin-left: 40vw;
  margin-top: 5vh;
  /* width: 20vw;
    height: 5vh; */
}
.productsitem {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  flex-direction: row;
  /* background: transparent; */
  /* margin-bottom: 10vh; */
  margin-bottom: 2vh;
  height: 180vh;
}
.pritem1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff3f3;
  background-color: #3c3c3c;
  width: 24vw;
  margin-left: 20vw;
  margin-top: 5vh;
  gap: 5vh;
  height: 40vh;
  margin-bottom: 5vh;
  padding: 5px;
  position: relative;
  border-radius: 18px;
}
.blackbt {
  width: 20vw;
  height: 20vh;
  top: -56px;
  position: absolute;
}
.prinfo {
  margin-top: 10vh;
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  /* top: -50px; */
}
.pritem1 h3 {
  font-size: 25px;
}
.pritem1 h5 {
  font-size: 15px;
}
.pritem2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff3f3;
  background-color: #3c3c3c;
  width: 24vw;
  margin-left: 47vw;
  margin-top: 5vh;
  /* gap: 3vh; */
  height: 40vh;
  margin-bottom: 5vh;
  padding: 5px;
  position: relative;
  border-radius: 18px;
  top: -350px;
}
.redbt {
  width: 20vw;
  height: 20vh;
  position: absolute;
  top: -50px;
  /* margin-top: 10vh; */
}
.pritem3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff3f3;
  background-color: #3c3c3c;
  width: 24vw;
  margin-left: 20vw;
  margin-top: 5vh;
  /* gap: 3vh; */
  height: 40vh;
  margin-bottom: 5vh;
  padding: 5px;
  position: relative;
  border-radius: 18px;
  top: -300px;
}
.bluebt {
  width: 20vw;
  height: 20vh;
  position: absolute;
  top: -50px;
}
.pritem4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff3f3;
  background-color: #3c3c3c;
  width: 24vw;
  margin-left: 47vw;
  margin-top: 5vh;
  /* gap: 3vh; */
  height: 40vh;
  margin-bottom: 5vh;
  padding: 5px;
  position: relative;
  border-radius: 18px;
  top: -600px;
}
.pritem5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff3f3;
  background-color: #3c3c3c;
  width: 24vw;
  margin-left: 20vw;
  margin-top: 5vh;
  /* gap: 3vh; */
  height: 40vh;
  margin-bottom: 5vh;
  padding: 5px;
  position: relative;
  border-radius: 18px;
  top: -600px;
}
.prinfo h3 {
  font-size: 25px;
}
.prinfo h5 {
  font-size: 18px;
}
.twdbt {
  width: 20vw;
  height: 20vh;
  position: absolute;
  top: -50px;
}
.bldbt {
  width: 20vw;
  height: 20vh;
  position: absolute;
  top: -50px;
}
@media (max-width: 780px) {
  .blackbt,
  .redbt,
  .bldbt {
    width: 10vw;
    height: 10vh;
    position: absolute;
    top: -20px;
  }
  .twdbt,
  .bluebt {
    width: 10vw;
    height: 10vh;
    position: absolute;
    top: -20px;
  }
  .pritem1,
  .pritem2.pritem3 {
    height: 40vh;
  }
  .primage img {
    width: 35vw;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-bottom: 20vh;
  /* margin-left: 5vh; */
  /* top:-200px; */
  gap: 6vw;
  /* width: 100vw; */
}
.footlogo {
  background-color: #000000;
  border-radius: 25px;
  margin-left: 15vw;
  width: 5vw;
  height: 7vh;
}
.footer ul li{
  list-style: none;
}
.footer ul li a {
  list-style: none;
  color: #fff3f3;
  margin-top: 4vh;
  text-decoration: none;
  font-size: 20px;
}
.footer ul li a:hover {
  font-size: 25px;
}
.footer ul li a h2 {
  margin-bottom: 3vh;
}
.subsoc{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.sub{
  background-color: #7e7575;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 5.7vh;
  border-radius: 10px;
}
.soc{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-top: 5vh;
  margin-left: 3vw;
  
}
.footer input{
  background-color:  #7e7575;
  padding-left: 10px;
  border: none;
  /* color: #000; */
  width: 7vw;
}
input::placeholder{
  color: #000;
  font-size: 15px;
}
.subs{
  background-color: #151414;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  color: #fff3f3;
  padding: 8px;
  border-radius: 10px;
  /* margin-left: ; */
}
.soc img{
  width: 3vw;
}
.soc img:hover{
  width: 4vw;
}
.uparrow{
  margin-top: 4vh;
  margin-left: 5vw;
}
.uparrow button{
  background-color: #1b1b1b;
  cursor: pointer;
}
@media(max-width:1000px){
  .soc a img{
    width: 20px;
  }
  .footer{
    align-items: center;
    gap: 1vw;}
  .footlogo{
    width: 5vw;
    margin-left: 5vw;
  }
  .sub{
    width: fit-content;
  }
  .footer ul li a{
    font-size: 12px;
  }
  .subs{
    font-size: 10px;
  }
  .uparrow img{
    width: 15px;
  }
  
}